@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
}

.rfm-marquee-container {
    gap: 12px !important;
    display: flex;
}

.carousel .control-dots {
    bottom: 0px !important;
    margin: 0px 0 !important;
}

.carousel .control-dots .dot {
    opacity: 100% !important;
    box-shadow: none !important;
    background: #E8E8E8 !important;
    border-radius: 22px !important;
    width: 21px !important;
    height: 6px !important;
    margin: 0px 2px !important;
}

.carousel .control-dots .dot.selected {
    background: #112D49 !important;
    width: 51px !important;
}

.delete-svg:hover path {
    fill: red;
}

.swiper-arrow:hover path {
    stroke: white;
}

.icon-size svg {
    height: 21px !important;
    width: 21px !important;
}

.hero .slider-wrapper {
    padding-bottom: 30px !important;
}

.border-gradient::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 1.5px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 3.37%, rgba(255, 255, 255, 0.8) 51.44%, rgba(255, 255, 255, 0) 100%);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
}

.vertical-gradient::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 1.5px;
    background: linear-gradient(90deg, rgba(17, 45, 73, 0) 0%, #112D49 51.44%, rgba(17, 45, 73, 0) 100%);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
}

@media (max-width:1023.98px) {
    .nav-link {
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 200ms ease-in-out !important;
        z-index: 3;
        align-items: center;
        background-color: #112D49;
    }

    .show-navbar {
        right: 0 !important;
    }

    .header-logo svg {
        height: 65px !important;
        width: 65px !important;
    }
}

@media (max-width:639.98px) {
    .header-logo svg {
        height: 31px !important;
        width: 40px !important;
    }

    .search-icon svg {
        width: 18px;
        height: 19px;
    }
}